RewriteEngine on
RewriteBase /simple_blog/
RewriteRule \.(gif|jpg|png|css|js|inc\.php)$ - [L]
RewriteRule ^admin/(\w+) admin.php?page=$1 [NC,L]
RewriteRule ^admin/?$ admin.php [NC,L]
RewriteRule ^(\w+)/?$ index.php?page=$1
RewriteRule ^(\w+)/([\w-]+) index.php?page=$1&url=$2